<h1>Log In Below:</h1>
<form class="" action="/sessions" method="post">
  <div>
    <label>Email:</label>
    <input type="email" name="login[email]" id="email">
  </div>
  
  <div>
    <label>Password:</label>
    <input type="password" name="login[password]" id="password">
  </div>
  
  <div>
    <input type="submit" id="submit" value="Log In">
  </div>
</form>