<h1>Sign Up Below:</h1>
<form class="" action="/registrations" method="post">
  <div>
    <label>Name:</label>
    <input type="text" name="user[name]" id="name"><br>
  </div>
  
  <div>
    <label>Email:</label>
    <input type="email" name="user[email]" id="email">
  </div>
  
  <div>
    <label>Password:</label>
    <input type="password" name="user[password]" id="password"><
  </div>
  
  <div>
    <input type="submit" id="submit" value="Sign Up">
  </div>
</form>